$base-color: 250; /* Purple 250 - Green 142 - Blue 230 */
$primary-color: hsl($base-color, 69%, 61%);
$primary-color-second: hsl($base-color, 69%, 61%);
$primary-color-alt: hsl($base-color, 57%, 53%);
$primary-color-lighter: hsl($base-color, 92%, 85%);
$title-color: hsl($base-color, 8%, 15%);
$text-color: hsl($base-color, 8%, 45%);
$text-color-light: hsl($base-color, 8%, 65%);
$input-color: hsl($base-color, 70%, 96%);
$body-color: hsl($base-color, 60%, 99%);
$container-color: #fff;

$color-white: #fff;
