@import "./typography";
@import "./_colors.scss";

.container {
  max-width: 768px;
  margin: 0 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.d-flex {
  display: flex;
}

.common-button {
  display: inline-block;
  background-color: $primary-color;
  color: $color-white;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: $font-medium;
  &:hover {
    background-color: $primary-color-alt;
  }
  .icon {
    font-size: 1.25rem;
    margin-left: 0.5rem;
    transition: 0.3s;
  }
}

.button-flex {
  display: inline-flex;
  align-items: center;
}
