@font-face {
  font-family: "poppins";
  src: url("../assets/fonts/Poppins-Regular.ttf");
  src: url("../assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
