@import "./fonts";

//fonts
$popins: "poppins";
$poppinsMedium: "poppins-medium";
$poppinsBold: "poppins-bold";
$poppinsSemibold: "poppins-semibold";

//colors
$red: red;

//font defaults
$fontSize: 10px;
