@import "../../../styles/colors";
@import "../../../styles/typography";

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  &.activeModal {
    visibility: visible;
    opacity: 1;
  }
  .modalContent {
    position: relative;
    background-color: $container-color;
    padding: 1.5rem;
    border-radius: 0.5rem;
    .title {
      font-size: $h3-font-size;
      font-weight: $font-medium;
      mix-blend-mode: 1.5rem;
    }
    .modalClose {
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 1.5rem;
      color: $primary-color;
      cursor: pointer;
    }
    .modalIcon {
      color: $primary-color;
      margin-right: 0.25rem;
    }
    .servicesOffered {
      row-gap: 1rem;
      .service {
        display: flex;
      }
    }
  }
}
